{{#partial "content"}}


    <p> <img src="{{selectedPlace.imageUrl}}" alt="HTML tutorial" style="width:42px;height:42px;border:0">{{ selectedPlace.PlaceName }}</p>

    <p>AGED:</p>
    <p>{{ selectedPlace.PlaceLocation }}</p>

    <p>Special Power:</p>
    <p>{{ selectedHero.placeDescription }}</p>


    <a href ="/PLaces/{{selectedPlace.id}}/update">Edit Destination</a>
    <a href="/places/{{selectedplace.id}}/delete">Delete Destination</a>

{{/partial}}

{{> layout.hbs}}